/*

All site-specific styles go here.

Some rules and guidelines:
	classes are better than IDs
	don't specify font-sizes more than once
	avoid making classes for one rule
	avoid using pixels for font-sizes except on body
	don't abuse less nesting
*/

/********************
Mixins for fun times.
********************/
@serif: 'Fanwood', 'Times New Roman', serif;
@sans: 'Brandon Grotesque', 'Open Sans', 'Helvetica' sans-serif;

@yellow: #f9ac4a;
@pink: #d91752;
@green: #a2b57c;
@warm: #ebe5da;
@warmer: #ece6db;
@blue: #21304f;
@transparent: rgba(0, 0, 0, 0.5);
@light-grey: #cccccc;


/************************
General site-wide styling
*************************/
body {
	font-family: @serif;
	font-size: 12px;
	color: #fff;
}

.container {
	width: 100%;
	padding: 0;
	margin: 0;
}

.section {
	width: 100%;
	min-height: 500px;
	height: auto;
	overflow: hidden;
	background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
	.row {
		position: relative;
		margin-top: 20px;
		.subwrap {
			max-width: 1000px;
			width: 100%;
		}
	}
}

.inner_wrap {
	height: auto;
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}


	
.grid {
	width: 31%;
	min-width: 200px;
	height: auto;
	min-height: 190px;
	display: block;
	float: left;
	background-color: #000;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	.name {
		position: relative;
		top: 70px;
		text-align: center;
		background-color: @transparent;
		height: 50px;
		opacity: 0;
		transition: all ease-in .2s;
		h5 {
			font-size: 1.5em;
			text-transform: uppercase;
			text-align: center;
			font-family: @sans;
			position: relative;
			top: 12px;
		}
	}
}

.grid:hover {
			.name {
				opacity: 1;
			}
	
		}
	
.grid-margin {
	width: 3.5%;
	min-width: @gutter;
	height: 100%;
	min-height: 190px;
	float: left;
}

/******************************************
**************   Hercules   ***************
******************************************/
/*Home*/
#one {
	background-image: url('../img/homehero.jpg');
	background-attachment: fixed;
	.inner_wrap {
		min-height: 480px;
	}
}

/*Ventures*/
#one-v {
	background-image: url('../img/junto.jpg');
	background-position: center;
	height: 150px;
	.junto {
		max-width: 300px;
		height: 180px;
		margin-top: 0;
		margin-bottom: 50px;
	}
}





#one-q {
	background-image: url('../img/inquiries.jpg');
	background-position: center;
	min-height: 520px;
}




/*******
Top Nav
*******/
.nav {
	width: 100%;
	height: 150px;
}

.brand {
	float: left;
	margin-top: 0;
	img {
	width: 340px;
	height: auto;
}
}

nav.top {
	float: right;
	ul {
		padding-top: 26px;
	}
	li {
		float: left;
		list-style: none;
		text-transform: uppercase;
		font-family: @sans;
		color: #fff;
		font-weight: 300;
		font-size: 1.3em;
		padding: 10px;
		transition: all ease-in .2s;
	}
	li:hover {
		background-color: #000;
	}
}


.hero_content {
	width: 100%;
}


h1.callout {
	font-family: @sans;
	font-weight: 300;
	font-size: 3.2em;
	text-transform: uppercase;
	float: left;
	margin-top: 0;
	padding-top: 20px;
	width: 48%;
}

p.followup {
	float: left;
	font-family: @serif;
	font-weight: 300;
	font-size: 1.4em;
	width: 48%;
	margin-left: 2%;
}

/*******
Border
*******/
.border {
	width: 100%;
	height: 20px;
	background-color: #000;
	opacity: 0.6;
	margin-top:-40px;
}

.colorborder {
	background-color: @yellow;
	height: 70px;
	h2 {
		padding-top: 18px;
		font-family: @serif;
		font-size: 2em;
		font-weight: 300;
		text-align: center;
		margin: 0 auto;
	}
}

.colorborder.pink {
	background-color: @pink;
}

.colorborder.green {
	background-color: @green;
}

.colorborder.blue {
		background-color: lighten(@blue, 10%);
	}


/******************************************
****************Section 2******************
******************************************/
#two {
	background-color: #000;
	min-height: 500px;
	.inner_wrap {
		width: 80%;
		max-width: 800px;
		margin: 0 auto;
	}
}


#two-v {
	.venture {
		background-color: #000;
		width: 30%;
		height: 200px;
	}
}

#two-q {
	p.wide {
		margin: 0 auto;
		margin-top: 100px;
		font-size: 2em;
		color: #000;
		max-width: 900px;
		width: 90%;
	}
}

.fiftyfloat {
	width: 48%;
	float: left;
	margin-left: 2%;
	h3 {
		font-family: @sans;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		font-size: 2.2em;
		padding-top: 23px;
	}
	p {
		font-size: 1.6em;
		font-weight: light;
		line-height: 1.4em;
		color: @warm;
		margin-top: 30px;
	}
}

.fiftyfloat.first {
	margin-right: 2%;
	margin-left: 0;
}



/*****************
*Thumbnail Grid*
*****************/

.thumbnail_grid {
	div {
		float: left;
		width: 22%;
		margin-right: 1.5%;
		margin-left: 1.5%;
		margin-bottom: 17px;
		height: 120px;
		background-repeat: no-repeat;
		background-origin: center;
		background-size: 100% auto;
		p {
			font-family: @serif;
			font-style: italic;
			text-align: center;
			font-size: 1.1em;
			margin-top: 93px;
		}
	}
}

#retail {
	background-image: url('../img/grid/retail.png');
}

#education {
	background-image: url('../img/grid/ed.png');
}

#tech {
	background-image: url('../img/grid/tech.png');
}

#startups {
	background-image: url('../img/grid/start.png');
}

#government {
	background-image: url('../img/grid/govt.png');
}

#publishing {
	background-image: url('../img/grid/pub.png');
}

#faith {
	background-image: url('../img/grid/faith.png');
}

#local {
	background-image: url('../img/grid/loc.png');
}


/******************************************
************    Section 3    **************
******************************************/
#three {
	background-color: #fff;
	min-height: 600px;
	h2 {
		font-family: @sans;
		font-size: 4em;
		text-transform: uppercase;
		margin: 0;
		line-height: 1.1em;
	}
	h2.top {
		margin-top: 100px;
	}
	h2.light {
		color: #ececec;
	}
	h2.focus {
		color: #000;
	}
	.circle {
		.circle(100px, #ececec);
		float: right;
		margin-top: -37px;
		margin-right: 80px;
	}
	.rectangle {
		.rectangle(30px, #fff);
		position: relative;
		top: 42px;
		left: 26px;
	}
	.triangle-right {
		.triangle-right(40px, #fff);
		position: relative;
		top: -12px;
		left: 12px;
	}
	p.wide {
		color: #000;
		font-size: 1.4em;
		float: left;
		width: 78%;
	}
	.expandograph {
		height: 0;
		width: 0;
		overflow: hidden;
		opacity: 0;
		transition: all ease-in .5s;
		padding-bottom: 0;
	}
	.expandograph.open {
		height: 200px;	
		width: 100%;
		opacity: 1;
	}
}


/******************************************
************    Section 4    **************
******************************************/
#four {
	width: 100%;
	min-height: 600px;
   .slidewrap {
        width: 100%;
        min-width: 350px; /* or whatever */
        overflow: hidden;
        min-height: 600px;
        position: relative; /* this is necessary to allow the child to be absolutely positioned */
    }
    .slidewrap-inner {
        width: 400%; /* number of slides * width of slide, OR 100*num of slides+% */
        height: 100%;
        position: absolute; /* lets us set the position of the slide tray initially */
        top: 0px; /* position is "relative" to slidewrap */
        left: 0px;
        transition: all 0.7s;
    }
    .slide {
        position: relative;
        height: 600px;
        float: left;
  		transition: all 1s ease-in-out;
        width: 25%;/* percent OF CONTAINING ELEMENT! in general, 1/num of slides * 100*/
        /* this width translates to the full width of the .slidewrap element */
    }
    #slide_one{
    	background-image: url('../img/slider/junto.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-origin: center;
    }
    #slide_two{
    	background-image: url('../img/slider/3to.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-origin: center;
    }
    #slide_three{
    	background-image: url('../img/slider/youmatter.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-origin: center;
    }
}

.logo_float {
	width: 100%;
	max-width: 400px;
	height: 300px;
	margin: 0 auto;
	margin-top: 150px;
	background-position: center;
	background-size: 95%;
	background-repeat: no-repeat;
}

#junto-logo {
		background-image: url('../img/junto_overlay.png');
}

#threethoughts-logo {
		background-image: url('../img/3tologo.png');
}

#ym-logo {
		background-image: url('../img/slider/ymlogo.png');
}




/******************************************
************    Section 5    **************
******************************************/
#five {
	min-height: 400px;
	.inner_wrap {
		max-width: 900px;
		min-height: 400px;
		.inner_wrap{
			width: 100%;
			margin: 0;
			padding: 0;
		}
	.category {
		width: 30%;
		min-width: 250px;
		height: 300px;
		background-color: @warmer;
		margin-top: 45px;
		margin-left: 1.66%;
		margin-right: 1.66%;
		float: left;
		transition: all .3s ease-in;
		.translate3d(0,0,0);
		p {
			color: #7b6959;
			font-size: 1.2em;
			position: relative;
			margin-top: -40px;
			text-align: center;
			transition: all .3s ease-in;
			.translate3d(0,0,0);
		}
		div {
			background-repeat: no-repeat;
			background-position: left top;
			background-size: 100% auto;
			width: 90%;
			height: 50px;
			margin: 0 auto;
			margin-top: -8px;
		}
		a {
			display: block;
			height: 300px;
		}
	}
	#intensives {
	background-image: url('../img/categories/intensives.png');
	}	

	.category:hover {
		width: 31%;
		margin-left: 1.16%;
		margin-right: 1.16%;
		p {
			font-size: 1.22em;
		}
	}
}
}




#ventures {
	background-image: url('../img/categories/ventures.png');
}



/******************************************
************    Section 6    **************
******************************************/
#six {
	background-color: #000;
	h3 {
		font-family: @sans;
		font-weight: 600;
		text-transform: uppercase;
		color: #fff;
		font-size: 2.2em;
		padding-top: 40px;
	}
	p {
		color: #fff;
		font-size: 1.4em;
	}
}

#contact {
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 80px;
	#button {
		width:300px;
		h4 {
			padding: 17px;
			padding-left: 23px;
			padding-right: 23px;
			border: 2px #fff solid;
			float: left;
			font-family: @sans;
			font-weight: 600;
			text-transform: uppercase;
			font-size: 2.2em;
			transition: all ease-in .2s;
			background-color: none;
		}
		h4:hover {
			border-left: 10px #fff solid;
		}
		a {
			margin: 0 auto;
			padding: 1px;
			color: #fff;
			text-decoration: none;
		}
		a:visited {
			color: #fff;
		}
	}
	p {
		float: left;
		font-weight: 300;
		font-family: @serif;
		font-style: italic;
		margin-left: 20px;
		padding-top: 26px;
		border: none;
		.translate3d(0,0,0);
	}
}



/******************************************
*****************Ventures******************
******************************************/
#two-v {
	.grid {
		background-color: #d6d6d6;
		height: 200px;
		transition: all .3s ease-in;
		&:hover {
		background-color: darken(#d6d6d6, 20%);
	}
	}
	
	.row {
		margin-bottom: 30px;
	}
}

#junto {
	background-image: url('../img/junto_overlay.png');
}
#whiteboard {
	background-image: url('../img/ventures/wb.png');
}
#southtree {
	background-image: url('../img/ventures/south.png');
}
#regenerate {
	background-image: url('../img/ventures/regen.png');
}
#matsuno {
	background-image: url('../img/ventures/matsuno.png');
}
#tto {
	background-image: url('../img/ventures/tto.png');
}


/******************************************
****************Intensives*****************
******************************************/
#one-i {
	background-image: url('../img/intensives.png');
	background-position: center;
	background-attachment: fixed;

}

#two-i {
	.inner_wrap {
			width: 80%;
			max-width: 1000px;
			margin: 0 auto;
			.row {
				width: 100%;
				margin-top: 3.5%;
				margin-bottom: 3.5%;
			}
		}
}

#senate {
	background-image: url(../img/intensives/senate.jpg);
}

#bac {
	background-image: url(../img/intensives/senate.jpg);
}

#blood {
	background-image: url(../img/intensives/senate.jpg);
}

#sun {
	background-image: url(../img/intensives/senate.jpg);
}

#ella{
	background-image: url(../img/intensives/senate.jpg);
}

#ym {
	background-image: url(../img/intensives/senate.jpg);
}


/******************************************
******************Trusts*******************
******************************************/
	#one-t {
	background-image: url('../img/trusts.png');
	background-position: center;
	background-attachment: fixed;
	}

	#trusts {
		background-image: url('../img/categories/trust.png');
	}

	#two-t {
		.inner_wrap {
			width: 80%;
			max-width: 1000px;
			margin: 0 auto;
			.row {
				width: 100%;
				margin-top: 3.5%;
				margin-bottom: 3.5%;
			}
		}
		#focus {
			width: 100%;
			margin-top: 40px;
		}
		.photo {
			background-image: url('../img/brains/p4.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 30%;
			min-width: 300px;
			height: auto;
			min-height: 250px;
			float: left;
		}
		.bio {
			float: left;
			width: 60%;
			margin-left: 2%;
			h4 {
				text-transform: uppercase;
				font-family: @sans;
				color: #000;
				font-size: 1.6em;
				margin-bottom: 0;
				margin-top: -3px;
			}
			p {
				margin-top: 0;
				margin-bottom: 10px;
				font-size: 1.4em;
				color: #000;
			}
		}

		#border {
		border-bottom: 1px solid #000;
		width: 100%;
		height: 2px;
		margin: 20px 0 20px 0;
		}
		
	
		#eric {
			background-image: url('../img/brains/p3.jpg');
		}
		#nick {
			background-image: url('../img/brains/p4.jpg');
		}
		#person {
			background-image: url('../img/brains/p2.jpg');
		}
		#person2 {
			background-image: url('../img/brains/p1.jpg');
		}
		#person3 {
			background-image: url('../img/brains/p6.jpg');
		}
		#person4 {
			background-image: url('../img/brains/p5.jpg');
		}
	}
	
	
	#three-t {
		background-color: @light-grey;
		.inner_wrap {
			width: 100%;
			margin: 0 auto;
			.row {
				width: 70%;
				max-width: 700px;
				margin: 0 auto;
				margin-top: 3.5%;
				margin-bottom: 3.5%;
				.mentor {
					.circle {
					margin-left: 3.5%;
					margin-right: 3.5%;
					.name {
						position: relative;
						top: 30px;
						text-align: center;
						background-color: @light-grey;
						height: auto;
						opacity: 0;
						transition: all ease-in .2s;
							h5 {
								font-size: 1.5em;
								text-transform: uppercase;
								text-align: center;
								font-family: @sans;
								position: relative;
								top: 12px;
								padding-bottom: 20px;
							}
					}
					.name:hover {
						opacity: 1.0;
					}
					}
					.circle.one {
						background-image: url('../img/mentors/1.jpg');
					}
					.circle.two {
						background-image: url('../img/mentors/2.jpg');
					}
					.circle.three {
						background-image: url('../img/mentors/3.jpg');
					}
					.circle.four {
						background-image: url('../img/mentors/4.jpg');
					}
					.circle.five {
						background-image: url('../img/mentors/5.jpg');
					}
					.circle.six {
						background-image: url('../img/mentors/6.jpg');
					}
					.circle.seven {
						background-image: url('../img/mentors/7.jpg');
					}
					.circle.eight {
						background-image: url('../img/mentors/8.jpg');
					}
					.circle.nine {
						background-image: url('../img/mentors/9.jpg');
					}
					.circle.ten {
						background-image: url('../img/mentors/10.jpg');
					}
					.circle.eleven {
						background-image: url('../img/mentors/11.jpg');
					}
					.circle.twelve {
						background-image: url('../img/mentors/12.jpg');
					}
					.circle.thirteen {
						background-image: url('../img/mentors/13.jpg');
					}
					.circle.fourteen {
						background-image: url('../img/mentors/14.jpg');
					}
				}
			.row.top {
				margin-top: 120px;
				}
			}
			.row.four {
				width: 90%;
				max-width: 800px;
				.mentor {
					.circle {
					margin-left: 1.5%;
					margin-right: 1.5%;
					}
				}
			}
		}
	.circle {
			.circle(170px, #e2e2e2);
			background-image: url('../img/brains/p2.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			float: left;
		}
	}

#four-t {
	background-color: darken(@light-grey, 30%);
	min-height: 300px;
}

/******************************************
**********    Media Queries    ************
******************************************/
/*400px*/
@media @tiny {
	/*Section 1 Tweaks*/
	.nav {
		ul {
			width: 100%;
			margin: 0 auto;
			padding: 0;
			float: left;
		li {
			font-size: 1.2em;
			margin: 0;
			padding: 6px;
		}
		}
	}
	h1.callout {
		width: 100%;
		margin-top: 60px;
	}
	p.followup {
		width: 100%;
		margin-bottom: 100px;
	}
	.border {
		margin-top: -40px;
	}

	/*Section 2 Tweaks*/
	#two {
		min-height: 900px;
	}

	.fiftyfloat {
		width: 100%;
		margin: 0 auto;
	}
	.fiftyfloat.first {		
		margin: 0 auto;
	}

	.thumbnail_grid {
	div {
		margin-bottom: 35px;
		}
	}

	/*Section 3 Tweaks*/
	#three {
		min-height: 875px;
		p.wide {
			width: 100%;
		}
		.circle {
			margin-top: 7px;
		}
	}

	/*Section 4 Tweaks*/
	#four {
		min-height: 450px;
	}

	#junto {
		margin-top: 100px;
	}

	/*Section 5 Tweaks*/
	#five {
		.inner_wrap {
			.inner_wrap {
				width: 270px;
				margin: 0 auto;
			.category {
				width: 270px;
				margin-top: 45px;
				margin-bottom: 30px;
				text-align: center;
			}
			}
		}
	}
}
/**************
**401px-600px**
***************/
@media @small {
	/*Section 1*/
	.nav {
		nav.top {
			float: left;
			text-align: center;
			margin: 0 auto;
			}
	}
	h1.callout {
		width: 100%;
		margin-top: 70px;
	}
	p.followup {
		width: 100%;
		margin-top: 0px;
		margin-bottom: 90px;
	}

	/*Section 2 Tweaks*/
	#two {
		min-height: 900px;
	}

	.fiftyfloat {
		width: 100%;
		margin: 0 auto;
	}
	.fiftyfloat.first {		
		margin: 0 auto;
	}
	.thumbnail_grid {
		div {
			margin-bottom: 30px;
			p {
				margin-top: 108px;
			}
		}
	}

	/*Section 3 Tweaks*/
	#three {
		p.wide {
			margin-bottom: 80px;
		}

		.circle {
			display: none;
		}
	}

	/*Section 5 Tweaks*/
	#five {
		.inner_wrap {
				width: 100%;
			.inner_wrap {
				width: 100%;
				margin: 0 auto;
			.category {
				width: 30%;
				height: 30%;
				min-width: 200px;
				margin-top: 45px;
				margin-bottom: 30px;
				text-align: center;
			}
			}
		}
	}
}


/*601px-800px*/
@media @medium {
	/*Section 2 Tweaks*/
	.thumbnail_grid {
		div {
			p {
				margin-top: 68px;
			}
		}
	}

	/*Section 3 Tweaks*/
	#three {

		.circle {
			margin-bottom: 50px;
		}
	}

	/*Section 5 Tweaks*/
	#five {
		.inner_wrap {
			width: 100%;
			margin: 0;
			padding: 0;
			.inner_wrap {
				width: 70%;
				margin: 0 auto;
			}
			.category.last {
				margin: 0 auto;
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}
	}
}

/*Bigger*/
@media @large {


	/*More Section 2 Tweaks*/
	.thumbnail_grid {
		div {
			margin-bottom: 33px;
		}
	}

	/*Section 5 Tweaks*/
	#five {
		.inner_wrap {
			width: 100%;
			margin: 0;
			padding: 0;
			.inner_wrap {
				width: 98%;
				margin: 0 auto;
			}
		}
	}
}


/*Big Guy*/
@media @huge {
	#five {
		.inner_wrap {
			width: 100%;
			.inner_wrap {
				width: 100%;
			}
		}
	}
}



/*Biggest Guy*/
@media @gigantic {
	#three {
		.circle {
			margin-top: -220px;
		}
	}
}